<!--
<ul class="menu">
  <li class="left-tab"><img src="images/logo.png" height="62px"/></li>
  <li class="left-tab"><a ng-class="$ctrl.isActiveTab('0')" href="#!/home">Home</a></li>
  <li class="left-tab"><a ng-class="$ctrl.isActiveTab('1')" href="#!/page2">Page2</a></li>
  <li class="right-tab"><a ng-click="$ctrl.logout()" href="#!/login">Logout</a></li>
</ul>
-->
<nav class="navbar navbar-light navbar-static-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Seed</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a ng-class="$ctrl.isActiveTab('0')" href="#!/home">Home</a></li>
      <li><a ng-class="$ctrl.isActiveTab('1')" href="#!/page2">Page 2</a></li>
    </ul>
  </div>
</nav>